@import "tailwindcss";


@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


.nav-item{
  @apply flex flex-col items-center justify-center hover:scale-105 transition-all duration-300 ease-in-out
}